body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f9;
    color: #333;
}

header {
    background: #04ac28;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    gap: 40px;
}

.mensaje {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boton {
    display: flex;
    align-items: center;
}

.btn-descarga {
    padding: 20px 30px;
    background: #04ac28;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
}

.btn-descarga:hover {
    background: #025313;
    transform: scale(1.05);
}

#flecha {
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    animation: mover 1s infinite alternate;
    color: #ff0606;
}

@keyframes mover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }
}